/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
/* pic1 */
#pic1 {
    border: 10px outset rgb(212, 214, 111);
    margin: 30px 12px 0px;
    box-shadow: -2px 2px 2px;
}
#pic1 div{
    background-color: aliceblue;
    padding: 10px;
    box-shadow: inset -1px 1px 2px #444;
}
#pic1 img{
    width: 80px;
    display: block;
}
/* pic2 */
#pic2 {
    border: 10px outset rgb(22, 72, 167);
    margin: 30px 12px 0px;
    box-shadow: -2px 2px 2px;
}
#pic2 div{
    background-color: aliceblue;
    padding: 10px;
    box-shadow: inset -1px 1px 2px #444;
}
#pic2 img{
    width: 120px;
    display: block;
}
/* pic 3 */
#pic3 {
    border: 10px outset rgb(136, 95, 68);
    margin: 30px 12px 0px;
    box-shadow: -2px 2px 2px;
    border-radius: 50% 50% 0px 0px;
    background-color: rgb(236, 236, 236);
}
#pic3 div{
    padding: 10px;
    box-shadow: inset -1px 1px 2px #444;
}
#pic3 img{
    width: 80px;
    display: block;
}

/* Pic 4 */
#pic4 {
    border: 10px outset rgb(39, 219, 69);
    margin: 30px 64px 3px 0px;
    box-shadow: -2px 2px 2px;
    background-color: aliceblue;
}

#pic4 div{
    background-color: aliceblue;
    padding: 10px;
    box-shadow: inset -1px 1px 2px #444;
}

#pic4 img{
    width: 80px;
    display: block;
}

#blue-text{color: rgb(76, 76, 187);}