#two-columns {
    display: flex;
}

#sidebar-content {
    width: 250px;
}

#main-content {
    flex: 1;
}

#sidebar-content {
    display: block;
    background-color:azure
}

#h1, #p1 {margin-left: 35px;}
