* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

#three-columns {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
}

#column-1 {
    background-color: lightblue;
}

#column-2 {
    background-color: darkblue;
    color: white;
}

#column-3 {
    background-color: aquamarine;
}




#column-1 {
    background-color: rgb(255, 255, 255);
}

#column-2 {
    background-color: #f2f1f2;
    color: white;
    border-radius: 25px;
}

#column-3 {
    background-color: rgb(255, 255, 255); 
    margin-left: 20px;
}

#user{
    display: flex;

}

#user span {
    text-decoration: underline;
    margin-right: 5px;
}

#user img {
    width: 50px;
    margin-right: 10px;
}

.duck {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#Duck1, #Duck2, #Duck3, #Duck4 {
    background-color: rgb(180, 180, 180);
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 25px;
}

#Duck1 {
    border: 2px solid black ;
}

#Button1 {
    background-color: #4663ea; 
    border: none;
    color: white;
    padding: 15px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

#Button2 {
    background-color: #ffffff; 
    border:2px solid #4663ea;
    color: #4663ea;
    padding: 15px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 1px;
}

#Button3 {
    background-color: #ffffff; 
    border:2px solid #4663ea;
    color: #4663ea;
    padding: 15px 180px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 1px;
}

#Logo {
    border-radius: 50%;
}
