* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
    background-image: url("../images/Background.jpg");
}

#two-columns{
  margin: 48px 0px;
    display: grid;
}

#main-content {
    text-align: center;
    background-color: aliceblue;
}

#sidebar {
    margin-top: 24px;
    padding: 0px 12px;
    grid-area: sidebar-area;
}

#sidebar {
    background-color: #ef8e49;
    color: white;
    padding: 8px 16px;
    margin: 0px;
}

#sidebar h1 {
    border: 1px solid #DDDDDD;
    margin: 0px;
    padding: 16px;
    list-style-type: none;
}

#sidebar  {
    padding: 8px 0px;
}

#sidebar  {
    color: #ef8e49;
    text-decoration: none;
}

#W{
    color:#c93431 ;
}

#f{
    color:#eed560 ;
}

#j




